.box {
  display: flex;
  gap: 10px;
}
button {
  border: none;
  background: transparent;
}
.dropdown {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 350px;
}
.dropdown-btn {
  border: 1px solid black;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
}
.wrapper {
  position: absolute;
  top: 45px;
  display: none;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  border: 1px solid black;
  border-radius: 5px;
  gap: 5px;
}
.open {
  display: flex;
}
.item {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  text-align: left;
}
.item:hover {
  background-color: rgb(0, 0, 0, 0.2);
}
.item:focus {
  background-color: rgb(0, 0, 0, 0.2);
}
